/********************************
 * Animations
 ********************************/
:root {
	--animation-hover: all 0.2s ease-out;
}

@keyframes pattern {
	from {
		background-size: 125%;
	}
	to {
		background-size: 140%;
	}
}

@keyframes hello-presenter {
	0% {
		transform: translateY(100%);
	}
	80% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes roesti-dance {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}
