/********************************
 * Colors variables
 ********************************/
:root {
	--color-text: #003769;
	--color-text-lighter: #335f87;
	--color-text-alpha: #335e873b;

	--color-background: #e7f9fd;
	--color-background-sligthly-darker: #d6eaee8f;
	--color-background-darker: #7895b0;
	--color-white: #fff;
	--color-disable: #b3b7c2;

	--color-main: #ffbf2f;
	--color-main-darker: #ffa012;
	--color-secondary: #4092e8;
	--color-secondary-darker: #3e78c5;
	--color-secondary-alpha: #4091e818;
	--color-contrast: #fe450e;
}
