/********************************
 * Colors variables
 ********************************/
:root {
	--color-text: #003769;
	--color-background: #4092e8;
	--color-white: #fff;
	--color-main: #ffbf2f;
	--color-contrast: #fe450e;
}
