/********************************
 * CSS Decoration
 ********************************/
:root {
	--boxshadow-main: -6px 6px var(--color-contrast);
	--boxshadow-second: -6px 6px var(--color-text);
	--boxshadow-tertiary: -3px 3px var(--color-background);

	--boxshadow-second-blurred: 0px 2px 15px -5px var(--color-text);
}
