/********************************
 * Fonts
 ********************************/
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@500&display=swap"); /* fonts */

:root {
	--font-headings: "Luckiest Guy", sans-serif;
	--font-text: "Roboto", sans-serif;

	--fontsize-xl: 2.813rem; /* 45px */
	--fontsize-l: 1.375rem; /* 22px */
	--fontsize-m: 1rem; /* 16px */
}
