/********************************
 * Margins variables
 ********************************/
:root {
	--margin-xl: 150px;
	--margin-m: 25px;
	--margin-s: 18px;
	--margin-xs: 14px;

	--margin-s-negative: -18px;
}
