/********************************
 * Margins variables
 ********************************/
:root {
	--margin-xl: 150px;
	--margin-l: 50px;
	--margin-m: 25px;
	--margin-s: 18px;
	--margin-xs: 14px;
	--margin-xxs: 5px;

	--margin-s-negative: -18px;
}
