/********************************
 * Background
 ********************************/
body,html{
    width:100%;
    min-width: 400px;
    height: 100%;
  }
  body{
    margin:0;
    padding:0;
    background: #fefefe;;
  }
.white-bg{
	background-color: #fefefe;
}
