/********************************
 * Form
 ********************************/
label {
	color: var(--color-text);
}
input {
	color: var(--color-text-lighter);
	background-color: var(--color-white);
	padding: var(--margin-s);
	font-size: var(--fontsize-m);
	box-shadow: var(--boxshadow-second-blurred);
}

/* Checkboxes
 ********************************/
input[type="checkbox"] {
	appearance: none;
	background-color: transparent;
}
input[type="checkbox"]::after {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	display: block;
	border: 2px solid var(--color-text);
	content: "";
}
input[type="checkbox"]:checked::before {
	display: block;
	content: "✔";
	position: absolute;
	font-size: 0.8rem;
	margin-left: 3px;
}
