/********************************
 * Form
 ********************************/
label {
	color: var(--color-text);
}
input, 
textarea {
	color: var(--color-text-lighter);
	background-color: var(--color-white);
	padding: var(--margin-s);
	font-size: var(--fontsize-m);
	box-shadow: var(--boxshadow-second-blurred);
	border-style: none;
	width: 100%;
	border-radius: 0.5rem;
	display: block;
}

textarea {
	font-family: var(--font-text);
}

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
	display: inline-block;
	width: auto;
}

/* Checkboxes
 ********************************/
input[type="checkbox"] {
	appearance: none;
	background-color: transparent;
}
input[type="checkbox"]::after {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	display: block;
	border: 2px solid var(--color-text);
	content: "";
}
input[type="checkbox"]:checked::before {
	display: block;
	content: "✔";
	position: absolute;
	font-size: 0.8rem;
	margin-left: 3px;
}

/* Search
 ********************************/

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

