/********************************
 * Text
 * Everything related to paragraphs, links, ...
 ********************************/
p,
a {
	color: var(--color-text);
}

button {
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}
