/********************************
 * Colors
 ********************************/
:root {
    --color-main: #000;
    --color-secondary: #000;
}

/********************************
 * Margins
 ********************************/
:root {
    --margin-m: 25px;
    --margin-xl: 150px;
}

/********************************
 * CSS entry point
 ********************************/

/**
 * Class naming: BEM
 * Folder structure: ITCSS
 */

/* Settings
 ********************************/

