@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@300;500&display=swap);
/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */

::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
 * ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */

/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Correct the inheritance of border color in Firefox.
 * 2. Add the correct box sizing in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */

hr {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */

main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
 */

nav li::before {
  content: "\200B";
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 * 3. Prevent overflow of the container in all browsers (opinionated).
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
  -ms-overflow-style: scrollbar; /* 3 */
}

/* Text-level semantics
 * ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */

abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */

/*
 * Change the alignment on media elements in all browsers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */

iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */

/**
 * 1. Collapse border spacing in all browsers (opinionated).
 * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */

table {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
 * ========================================================================== */

/**
 * Remove the margin on controls in Safari.
 */

button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */

button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */

fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */

input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */

select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */

textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
  resize: vertical; /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */

/*
 * Add the correct display in Edge 18- and IE.
 */

details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* User interaction
 * ========================================================================== */

/*
 * Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden] {
  display: inline;
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/********************************
 * Colors variables
 ********************************/
:root {
	--color-text: #003769;
	--color-text-lighter: #335f87;
	--color-text-alpha: rgba(51,94,135,0.23137);

	--color-background: #e7f9fd;
	--color-background-sligthly-darker: rgba(214,234,238,0.56078);
	--color-background-darker: #7895b0;
	--color-white: #fff;
	--color-gray: #747474;
	--color-gray-lighter: #cfcbcb;
	--color-disable: #b3b7c2;

	--color-main: #ffbf2f;
	--color-main-darker: #ffa012;
	--color-secondary: #4092e8;
	--color-secondary-darker: #3e78c5;
	--color-secondary-alpha: rgba(64,145,232,0.09412);
	--color-contrast: #fe450e;
}

/********************************
 * Margins variables
 ********************************/
:root {
	--margin-xl: 150px;
	--margin-ll: 80px;
	--margin-l: 50px;
	--margin-m: 25px;
	--margin-s: 18px;
	--margin-xs: 14px;
	--margin-xxs: 5px;

	--margin-s-negative: -18px;
}

/********************************
 * Fonts
 ********************************/ /* fonts */

:root {
	--font-headings: "Luckiest Guy", sans-serif;
	--font-text: "Roboto", sans-serif;

	--fontsize-xl: 2.375rem; /* 38px */
	--fontsize-ll: 1.875rem; /* 30px */
	--fontsize-l: 1.25rem; /* 20px */
	--fontsize-m: 1rem; /* 16px */
	--fontsize-s: 0.875rem; /* 14px */
	--fontsize-xs: 0.75rem; /* 12px */

	--fontspacing-headings: 0.08rem;
}

/********************************
 * CSS Decoration
 ********************************/
:root {
	/* Box shadow
	 ********************************/
	--boxshadow-main: -6px 6px var(--color-contrast);
	--boxshadow-main-hover: -8px 8px var(--color-contrast);

	--boxshadow-second: -6px 6px var(--color-text);
	--boxshadow-second-hover: -8px 8px var(--color-text);
	--boxshadow-second-small: -3px 3px var(--color-text);
	--boxshadow-second-smaller: -2px 2px var(--color-text);
	--boxshadow-second-small-hover: -5px 5px var(--color-text);

	--boxshadow-secondLight: -6px 6px var(--color-secondary);
	--boxshadow-secondLight-hover: -8px 8px var(--color-secondary);

	--boxshadow-tertiary: -3px 3px var(--color-background);

	--boxshadow-second-blurred: 0px 2px 5px 2px var(--color-text-alpha);
	--boxshadow--innerWhite: var(--color-white) 0px -230px 15px -6em inset;

	--boxshadow-card: 0 4px 8px 0 rgba(105,105,105,0.2);

	/* Border radius
	 ********************************/
	--borderradius-xl: 3rem;
	--borderradius-m: 1rem; /* 16px */
	--borderradius-s: 0.625rem; /* 10px */
}

/********************************
 * Animations
 ********************************/
:root {
	--animation-hover: all 0.2s ease-out;
}

@-webkit-keyframes pattern {
	from {
		background-size: 125%;
	}
	to {
		background-size: 140%;
	}
}

@keyframes pattern {
	from {
		background-size: 125%;
	}
	to {
		background-size: 140%;
	}
}

@-webkit-keyframes hello-presenter {
	0% {
		transform: translateY(100%);
	}
	80% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes hello-presenter {
	0% {
		transform: translateY(100%);
	}
	80% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes roesti-dance {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

@keyframes roesti-dance {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}

/********************************
 * Background
 ********************************/
body,
html {
	margin: 0;
	max-width: 100%;
}
body {
	font-family: var(--font-text);
	font-size: var(--fontsize-m);
	font-weight: normal;
	background: var(--color-background);
	color: var(--color-text);
	overflow-x: hidden;
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/pattern.svg");
	background-repeat: no-repeat;
	background-size: 125%;
	background-position: center center;
	-webkit-animation-name: pattern;
	        animation-name: pattern;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}
body.bg--white {
	background-image: none;
}
main {
	width: 100%;
}

/********************************
 * Headings HTML Elements
 ********************************/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/********************************
 * Text
 * Everything related to paragraphs, links, ...
 ********************************/
p,
a {
	color: var(--color-text);
}

button {
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
}

mark {
	color: var(--color-contrast);
	font-weight: bold;
	background-color: transparent;
	display: inline;
}

/********************************
 * Form
 ********************************/
label {
	color: var(--color-text);
}
input, 
textarea {
	color: var(--color-text-lighter);
	background-color: var(--color-white);
	padding: var(--margin-s);
	font-size: var(--fontsize-m);
	box-shadow: var(--boxshadow-second-blurred);
	border-style: none;
	width: 100%;
	border-radius: 0.5rem;
	display: block;
}

textarea {
	font-family: var(--font-text);
}

input[type="checkbox"],
input[type="radio"] {
	box-shadow: none;
	display: inline-block;
	width: auto;
}

/* Checkboxes
 ********************************/
input[type="checkbox"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background-color: transparent;
}
input[type="checkbox"]::after {
	width: 16px;
	height: 16px;
	border-radius: 2px;
	display: block;
	border: 2px solid var(--color-text);
	content: "";
}
input[type="checkbox"]:checked::before {
	display: block;
	content: "✔";
	position: absolute;
	font-size: 0.8rem;
	margin-left: 3px;
}

/********************************
 * Table
 ********************************/
table {
	width: 100%
}
table button {
		font-weight: bold;
		cursor: pointer;
	}
table [class^="icon-"] {
		font-size: var(--fonsize-m);
		padding: 0 5px;
	}
table [class="icon-close"] {
		color: var(--color-contrast);
	}

thead {
	border-bottom: 1px solid var(--color-text-lighter);
}

th {
	text-align: left;
}

th,
td {
	margin: 0 5px;
	padding: var(--margin-xs) 5px;
	min-width: 90px;
}

tr:nth-child(even) {
	background-color: var(--color-background-sligthly-darker);
}

/********************************
 * Images
 ********************************/
img {
	display: block;
	max-width: 100%;
}

/********************************
 * Grid CSS
 ********************************/
.grid-container {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: auto;
	background-color: #2196f3; /* developpment purposes*/
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8); /* developpment purposes*/
	border: 1px solid rgba(0, 0, 0, 0.8); /* developpment purposes*/
	padding: 20px;
	font-size: 30px;
	text-align: center;
}

/********************************
 * Containers
 ********************************/
.container {
	width: 100%;
	height: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 var(--margin-xs);
	position: relative;
}

.container--fullheight {
	height: 100vh;
}

.container--large {
	max-width: 1200px;
}

.container--presenter {
	overflow: hidden;
}

/** GRID SETTINGS */
.avatar__editor {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"buttons"
		"avatar";
	margin-top: var(--margin-l);
}

.buttons__container {
	grid-area: buttons;
}

.avatar__editor__container {
	grid-area: avatar;
}

/**AVATAR SETTINGS */
.avatar__editor__container {
	position: relative;
	width: 200px;
	height: 200px;
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/assets_avatar_background.svg");
	margin: var(--margin-l) auto;

	-webkit-animation-name: roesti-dance;

	        animation-name: roesti-dance;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	animation-direction: alternate-reverse;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
	        animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

.avatar__editor__element {
	width: 100%;
	height: 100%;
	position: absolute;
}

.avatar__element__eyes {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/eyes/assets_avatar_yeux.png");
}

.avatar__element__mouths {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/mouths/assets_avatar_bouches.png");
}

.avatar__element__poses {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/poses/assets_avatar_poses.png");
}

/**BUTTONS SETTINGS */
.buttons__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.buttons__container button {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: var(--color-secondary);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--boxshadow-second-blurred);
		transition: var(--animation-hover);
	}

.buttons__container button:hover {
		transform: scale(1.1);
	}

.buttons__container button:active {
		transform: scale(0.8)
	}

.buttons__container img {
		padding: var(--margin-s);
	}

.buttons__container__small {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.buttons__container__small button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: var(--color-secondary);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--boxshadow-second-blurred);
		transition: var(--animation-hover);
	}

.buttons__container__small button:hover {
		transform: scale(1.1);
	}

.buttons__container__small button:active {
		transform: scale(0.8)
	}

.buttons__container__small img {
		padding: var(--margin-xxs);
	}

/**DISPLAYED AVATAR */
.avatar__container {
	position: relative;
	width: 100%;
	height: 100%;
}

.avatar__element {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (max-width: 575.98px) {
	.avatar__editor {
		margin-top: var(--margin-m);
	}
	.buttons__container button {
		width: 65px;
		height: 65px;
	}
}

/********************************
 * Bottom bar
 * Basically a container for the button
 ********************************/
.bottombar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--margin-m) var(--margin-s);
	z-index: 10;
}

@media (max-width: 575.98px) {
	.bottombar {
		padding: var(--margin-s) var(--margin-xs);
	}
}



/********************************
 * Buttons
 ********************************/

.btn {
	padding: var(--margin-s);
	padding-top: 1.6rem;
	/* fix weird font placement */
	width: 100%;
	max-width: 400px;
	min-width: 250px;
	text-align: center;
	font-size: var(--fontsize-l);
	font-family: var(--font-headings);
	letter-spacing: var(--fontspacing-headings);
	border-radius: var(--borderradius-m);
	cursor: pointer;
	transition: var(--animation-hover);
	text-decoration: none;
}

.btn--primary {
	background-color: var(--color-main);
	color: var(--color-text);
	box-shadow: var(--boxshadow-main);
}

.btn--primary:hover {
	box-shadow: -8px 8px var(--color-contrast);
	transform: translate(2px, -2px);
	background-color: var(--color-main-darker);
}

.btn--secondary {
	background-color: var(--color-secondary);
	color: var(--color-white);
	box-shadow: var(--boxshadow-second);
}

.btn--secondary:hover {
	box-shadow: var(--boxshadow-second-hover);
	transform: translate(2px, -2px);
	background-color: var(--color-secondary-darker);
}

.btn--tertiary {
	background-color: var(--color-white);
	color: var(--color-text);
	box-shadow: -3px 3px var(--color-secondary);
	font-family: var(--font-text);
	letter-spacing: 0;
}

.btn--tertiary:hover {
	box-shadow: -5px 5px var(--color-secondary);
	transform: translate(2px, -2px);
}

.btn--primary:active, .btn--primary:focus, .btn--secondary:active, .btn--secondary:focus {
	transform: translate(-6px, 6px);
	box-shadow: none;
}

.btn--tertiary:active {
	transform: translateX(-3px);
	transform: translateY(3px);
	box-shadow: none;
}

@media (max-width: 575.98px) {
	.btn {
		font-size: var(--fontsize-l);
		padding: var(--margin-xs);
		padding-top: 1.4rem;
		/* fix weird font placement */
	}
	.btn--tertiary {
		padding: var(--margin-xs);
	}
}
/********************************
 * Categories
 ********************************/
.category__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--margin-l) 0;
}

.category {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: var(--margin-s)
}

.category label {
		color: var(--color-white);
		cursor: pointer;
		display: block;
		width: 100%;
	}

.category input[type="radio"] {
		display: none;
	}

.category input[type="radio"]:checked + label {
		background-color: var(--color-main);
		color: var(--color-text);
		box-shadow: var(--boxshadow-main);
	}

@media (max-width: 575.98px) {
	.category__container {
		padding: 0;
	}
}

/********************************
 * Endgame
 ********************************/
.endgame__container {
	min-height: 50vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.endgame__sentence {
	font-family: var(--font-headings);
	font-size: var(--fontsize-xl);
	letter-spacing: var(--fontspacing-headings);
	line-height: 3rem;
	color: var(--color-main);
	text-shadow: var(--boxshadow-second-small);
	text-align: center;
	width: 75%;
	margin: auto;
}
.endgame__score__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: var(--margin-m) 0;
}

.endgame__score {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	display: inline-block
}

.endgame__score li {
		font-family: var(--font-headings);
		letter-spacing: var(--fontspacing-headings);
		font-size: var(--fontsize-l)
	}

.endgame__score li strong {
			color: var(--color-secondary);
		}

@media (max-width: 575.98px) {
	.endgame__sentence {
		font-size: var(--fontsize-ll);
		text-shadow: var(--boxshadow-second-smaller);
	}
}

/********************************
 * Error
 ********************************/
.errorPage {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
	text-align: center
}
.errorPage h1 {
		color: var(--color-main);
		text-shadow: var(--boxshadow-second-small);
		font-family: var(--font-headings);
		font-size: var(--fontsize-xl);
		letter-spacing: var(--fontspacing-headings);
		margin-bottom: var(--margin-m);
	}

.errorPage--message {
	font-size: var(--fontsize-l);
}

/********************************
 * Forms
 ********************************/
.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	max-width: 346px;
	width: 100%;
}

.form--large {
	max-width: 500px;
}

.form__field {
	position: relative
}

.form__field [class^="icon-"] {
		position: absolute;
		right: var(--margin-s);
		top: calc(50% - 8px);
		color: var(--color-disable);
	}

.form--center {
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

.form__row {
	margin-bottom: var(--margin-m);
}

.form__row--left {
	text-align: left;
}

.form__row--space {
	margin-bottom: var(--margin-m);
}

.form__row--displayCondition {
	margin: var(--margin-s) 0;
	display: none;
}

input:checked~.form__row--displayCondition {
	display: block;
}

/********************************
 * Headers
 ********************************/
.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: var(--margin-m) 0
}
.header .pageTitle {
		margin-left: var(--margin-xs);
	}
.header--login {
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-bottom: var(--margin-m)
}
.header--login .logo {
		max-height: 115px;
		align-self: center;
	}
.header--home {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center
}
.header--home .topnav {
		margin-right: auto;
	}
.header--home .logo {
		max-height: 90px;
		margin-right: auto;
		margin-left: -50px;
		/* it fix the nav icon pushing the logo to the right */
	}
.header.header--cards {
	padding: 0;
	margin-top: var(--margin-m);
}

@media (max-width: 575.98px) {
	.header {
		padding: var(--margin-xs) 0;
	}
	.header--home .logo {
		max-height: 70px;
	}
	.header--home .topnav {
		padding: 0;
	}
	.header--login {
		padding: 0;
	}
}

/********************************
 * Headings
 ********************************/
.pageTitle {
	font-family: var(--font-text);
	font-size: var(--fontsize-l);
	font-weight: normal;
}

/********************************
 * History
 ********************************/
.history {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: var(--margin-m);
	margin-bottom: var(--margin-xs);
	background: var(--color-background);
	border-radius: var(--borderradius-m);
}

.history__question {
	font-weight: bold;
	font-size: var(--fontsize-l);
	margin-bottom: var(--margin-s);
}

.history__answer {
	color: var(--color-text-lighter);
	font-size: var(--fontsize-m);
	font-weight: 300;
}

.history__playersContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.history__player {
	position: relative;
	height: 85px;
	width: 85px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.history__player__answer {
	position: absolute;
	right: -100%;
	top: 0;
	background: var(--color-white);
	width: 75px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--borderradius-s);
}
.history__player__answer:before {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0px;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: var(--color-white);
	border-bottom: 0;
	border-left: 0;
	transform: rotate(15deg);
	z-index: 0;
}

.history__player--opponent .history__player__answer {
		left: -100%;
		bottom: 0;
		top: auto;
	}

.history__player--opponent .history__player__answer:before {
		transform: rotate(-30deg);
		top: -5px;
		right: -10px;
		left: auto;
	}

/********************************
 * Games in home view
 ********************************/
.gameBadge__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	padding: var(--margin-xs);
	margin: -15px;
	height: 55vh;
}

.gameBadge__noGame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--margin-m)
}

.gameBadge__noGame p {
		font-family: var(--font-headings);
		font-size: var(--fontsize-xl);
		color: var(--color-secondary);
		letter-spacing: var(--fontspace-headings);
		text-align: center;
		margin: 0;
		margin-bottom: var(--margin-l);
	}

.gameBadge__title {
	font-family: var(--font-main);
	font-size: var(--fontsize-l);
	font-weight: normal;
	margin-bottom: var(--margin-m);
}

.gameBadge--wrapper {
	margin-bottom: var(--margin-s);
}

.gameBadge {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	padding: var(--margin-s);
	width: 100%;
	border-radius: var(--borderradius-m);
	border-style: none;
	background: var(--color-white);
	box-shadow: var(--boxshadow-secondLight);
	transition: var(--animation-hover);
	text-decoration: none;
}

.gameBadge--phantom {
	display: block;
	min-height: 100px;
	width: 1px;
	opacity: 0;
}

.gameBadge:hover {
	transform: translate(2px, -2px);
	box-shadow: var(--boxshadow-secondLight-hover);
}

.gameBadge:active {
	transform: translate(-6px, 6px);
	box-shadow: none;
}

.gameBadge--wait {
	opacity: 0.5;
}

.gameBadge__avatar {
	width: 50px;
	height: 50px;
}

.gameBadge__info {
	margin-left: var(--margin-s);
}

.gameBadge__info__pseudo {
	font-family: var(--font-headings);
	font-size: var(--fontsize-m);
	letter-spacing: var(--fontspacing-headings);
	color: var(--color-text);
}

.gameBadge__play {
	width: 50px;
	height: 50px;
	border-radius: 45%;
	background: var(--color-secondary);
	color: var(--color-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

.gameBadge--play--text {
	display: table-cell;
	vertical-align: middle;
	font-family: "Luckiest Guy", sans-serif;
	position: relative;
	align-content: center;
	text-align: center;
}

@media (max-width: 575.98px) {
	.gameBadge {
		padding: var(--margin-xs);
	}
	.gameBadge__noGame p {
		font-size: var(--fontsize-ll);
	}
	.gameBadge--phantom {
		min-height: 50px;
	}
}

/********************************
 * Icons
 ********************************/

/* Icomoon part
  ********************************/

@font-face {
	font-family: "icomoon";
	src: url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.eot?whvtr9");
	src: url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.eot?whvtr9#iefix") format("embedded-opentype"), url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.ttf?whvtr9") format("truetype"), url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.woff?whvtr9") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit-pencil:before {
	content: "\e900";
}

.icon-envelope:before {
	content: "\e901";
}

.icon-lock-closed:before {
	content: "\e902";
}

.icon-lock-open:before {
	content: "\e903";
}

.icon-user:before {
	content: "\e904";
}

.icon-checkmark:before {
	content: "\e905";
}

.icon-close:before {
	content: "\e906";
	font-weight: bold;
}

.icon-search:before {
	content: "\e986";
}

.icon-cog:before {
	content: "\e994";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-mute:before {
	content: "\ea2a";
}

.icon-arrow-right:before {
	content: "\ea3c";
}

.icon-arrow-left:before {
	content: "\ea40";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-information:before {
	content: "\e908";
}

.icon-home:before {
	content: "\e909";
}

/* Custom part
 ********************************/

.icon-question-mark:before {
	font-family: var(--font-text);
	font-weight: bold;
	content: "?";
}

.iconBadge {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: var(--fontsize-s);
	box-shadow: var(--boxshadow-second-blurred);
}

.iconBadge--small {
	width: 30px;
	height: 30px;
}

.iconBadge--false {
	background: var(--color-contrast);
}

.iconBadge--true {
	background: var(--color-secondary);
}

.iconBadge--unanswered {
	background: var(--color-disable);
}
/********************************
 * Modal
 ********************************/
.modal {
	display: block;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
}

/********************************
 * Navigation objects
 ********************************/
.topnav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	padding: var(--margin-s) 0
}
.topnav a,
	.topnav button {
		padding: var(--margin-s);
	}
.topnav a:hover {
		color: var(--color-text-lighter);
	}

.topnav--right {
	justify-content: right
}

.topnav--right a,
	.topnav--right button {
		margin-right: var(--margin-s-negative);
	}

.topnav--center {
	justify-content: center;
}

@media (max-width: 575.98px) {
		.topnav a,
		.topnav button {
			padding: var(--margin-xs);
		}
}

/********************************
 * Profile
 ********************************/
.profile__avatar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--margin-m);
}

.profile__avatar__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: var(--color-white);
	box-shadow: var(--boxshadow-second-blurred);
	padding: 40px;
	position: relative;
}

.profile__avatar__editButton a {
		background-color: var(--color-white);
		box-shadow: var(--boxshadow-second-blurred);
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: var(--fontsize-l);
		position: absolute;
		bottom: 0;
		right: 0;
		transition: var(--animation-hover);
	}

.profile__avatar__editButton a:hover {
		transform: scale(1.1);
	}

.profile__avatar__editButton a:active {
		transform: scale(0.8);
	}

.profile__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--margin-m);
}

.profile__info__pseudo {
	font-family: var(--font-headings);
	letter-spacing: var(--fontspacing-headings);
}

.profile__info__score {
	color: var(--color-secondary);
}

.profile__actions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--margin-m)
}

.profile__actions a {
		margin-bottom: var(--margin-s);
	}

.profile__actions a:last-of-type {
		margin-bottom: var(--margin-l);
	}

.profile__actions form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center
	}

.profile__actions form button {
			font-size: var(--fontsize-m);
			text-decoration: underline;
			text-align: center;
			color: var(--color-text);
		}

/********************************
 * Presenter
 ********************************/
.presenter__container {
	display: block;
	position: fixed;
	bottom: -30px;
	left: 0;
	width: 100vw;
	height: 40vh;
}

.presenter {
	position: absolute;
	height: 100%;
	bottom: 0;
	-webkit-animation-name: hello-presenter;
	        animation-name: hello-presenter;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out
}

.presenter img {
		min-width: 100%;
		height: 100%;
	}

@media (max-width: 575.98px) {
	.presenter__container {
		width: 100vw;
		height: 40vh;
	}
	.presenter {
		left: -30px;
	}
}

/********************************
 * Results
 ********************************/
.results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
	padding-bottom: var(--margin-l);
}

.results__versusLabel {
	font-family: var(--font-headings);
	font-size: var(--fontsize-xl);
	letter-spacing: var(--fontspacing-headings);
	color: var(--color-main);
	text-shadow: var(--boxshadow-second-small);
}

.results__player {
	width: 33.3%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.results__player__pseudo {
	font-family: var(--font-headings);
	font-size: var(--fontsize-l);
	letter-spacing: var(--fontspacing-headings);
	margin-top: var(--margin-xs);
	text-align: center;
}

.results__player__score {
	font-family: var(--font-headings);
	font-size: var(--fontsize-xl);
	color: var(--color-secondary);
}

.results__player__img {
	width: 85px;
	height: 85px;
}

@media (max-width: 575.98px) {
	.results {
		margin-top: var(--margin-s-negative);
		padding-bottom: var(--margin-xs);
	}
	.results__player__img {
		width: 65px;
		height: 65px;
	}
	.results__player__score {
		font-size: var(--fontsize-ll);
	}
}

/********************************
 * Round badge
 ********************************/
.roundBadge__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-white);
	overflow: scroll;
	padding: var(--margin-m) var(--margin-s);
	height: calc(100vh - 350px);
}

.roundBadge__container:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	box-shadow: var(--boxshadow--innerWhite);
}

.roundBadge {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding: var(--margin-s);
	margin: var(--margin-xs) 0;
	width: 100%;
	max-width: 400px; /* same as results */
	background-color: var(--color-secondary);
	border-radius: var(--borderradius-s);
	text-decoration: none;
	box-shadow: var(--boxshadow-second-small);
	transition: var(--animation-hover)
}

.roundBadge.disabled {
		cursor: default;
		pointer-events: none;
		opacity: 0.5;
	}

.roundBadge--phantom {
	display: block;
	min-height: 100px;
	width: 1px;
	opacity: 0;
}

.roundBadge:hover {
	background-color: var(--color-secondary-darker);
	transform: translate(2px, -2px);
	box-shadow: var(--boxshadow-second-small-hover);
}

.roundBadge:active {
	transform: translate(-3px, 3px);
	box-shadow: none;
}

.roundBadge::after {
	--size: 25px;
	font-family: var(--font-headings);
	content: attr(data-index);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-white);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	padding-top: 5px;
	box-shadow: var(--boxshadow-second-blurred);
	position: absolute;
	top: -12px;
	left: calc(50% - (var(--size) / 2));
}

.roundBadge__score,
.roundBadge__category {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.3%;
	text-align: center;
}

.roundBadge__score {
	font-size: var(--fontsize-m);
	font-weight: bold;
	text-align: center;
	color: var(--color-white);
}

.roundBadge__category {
	font-family: var(--font-headings);
	color: var(--color-main);
	letter-spacing: var(--fontspacing-headings);
	padding-top: 5px;
	font-weight: normal;
}

@media (max-width: 575.98px) {
	.roundBadge__container {
		padding: var(--margin-xs);
	}
	.roundBadge {
		padding: var(--margin-xs);
	}
	.roundBadge__score {
		width: 25%;
	}
	.roundBadge__category {
		width: 50%;
	}
	.roundBadge--phantom {
		min-height: 50px;
	}
}

/********************************
 * Search Friends Module
 ********************************/
.searchFriends {
	margin: 0;
	padding: 0;
	max-height: 40vh;
	overflow: scroll
}
.searchFriends li {
		list-style: none
	}
.searchFriends li label {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: var(--margin-xs);
			transition: var(--animation-hover);
			border-radius: var(--borderradius-s);
		}
.searchFriends li label:hover {
			cursor: pointer;
			background-color: var(--color-secondary-alpha);
			transform: scale(0.95);
		}
.searchFriends li input[type="radio"] {
			display: none;
		}
.searchFriends li input[type="radio"]:checked + label {
			transform: none;
			background: var(--color-text-alpha);
		}
.searchFriends__container {
	position: relative;
}

.searchFriends__avatar {
	width: 50px;
	height: 50px;
	margin-right: var(--margin-m);
}

.searchFriends__title {
	font-family: var(--font-headings);
	letter-spacing: var(--fontspacing-headings);
	color: var(--color-secondary);
	font-size: var(--fontsize-l);
}

.searchFriends--noFriend {
	height: 20vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/********************************
 * Commentator speech bubble for BG
 ********************************/
.speech-bubble {
	position: relative;
	height: 75vh;
	background: var(--color-background);
	border-radius: 0 0 var(--borderradius-xl) var(--borderradius-xl);
	padding: 0 var(--margin-m);
	padding-bottom: var(--margin-l);
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/pattern.svg");
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: center center;
	-webkit-animation-name: pattern;
	        animation-name: pattern;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}

.speech-bubble:before {
	content: "";
	position: absolute;
	bottom: -10px;
	right: 30%;
	width: 0;
	height: 0;
	border: 55px solid transparent;
	border-top-color: var(--color-background);
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
	transform: rotate(15deg);
	z-index: -1;
}

@media (max-width: 575.98px) {
	.speech-bubble {
		padding: 0 var(--margin-xs);
		padding-bottom: var(--margin-m);
	}
}

/********************************
 * Timer
 ********************************/
.timer {
	background-color: var(--color-white);
	border-radius: var(--borderradius-xl);
	padding: 0px var(--margin-m);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-left: auto;
}

.status {
    padding: var(--margin-xs);
    padding-left: 80px;
    margin: 0 auto;
    margin-bottom: var(--margin-m);
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    text-align: left;
    font-size: var(--fontsize-m);
    font-family: var(--font-text);
    letter-spacing: var(--fontspacing-headings);
    border-radius: var(--borderradius-m);
    background-color: var(--color-white);
    color: var(--color-text);
    box-shadow: var(--boxshadow-second-blurred);
    position: relative;
}

.status [class^="icon-"] {
    position: absolute;
    left: calc(10%);
    top: calc(50% - 8px);
    color: var(--color-disable);
}


/********************************
 * Unboarding
 ********************************/
.unboarding {
	text-align: center;
	padding: 0 var(--margin-m);
	padding-top: var(--margin-ll);
	font-size: var(--fontsize-l);
}

.topnav + .unboarding {
	padding-top: 0;
}

.unboarding__title {
	font-family: var(--font-headings);
	font-size: var(--fontsize-ll);
	letter-spacing: var(--fontspacing-headings);
}

.unboarding__title--big {
	font-size: var(--fontsize-xl);
	line-height: 3rem;
}

.unboarding__img img {
	margin: auto;
	max-height: 50vh;
}

.unboarding__step {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.unboarding__step li {
		margin: var(--margin-m) 5px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: var(--color-gray-lighter);
	}

.unboarding__step li.active {
		background-color: var(--color-gray);
	}

@media (max-width: 575.98px) {
	.unboarding {
		padding-top: var(--margin-m);
		font-size: var(--fontsize-m);
	}
	.unboarding__title {
		font-size: var(--fontsize-l);
	}
	.unboarding__title--big {
		font-size: var(--fontsize-ll);
	}
}

/********************************
 * Colors
 ********************************/
.bg--white {
	background: var(--color-white);
}

.bg--lightblue {
	background: var(--color-background);
}

/********************************
 * Alignements
 ********************************/
.center {
	margin: auto;
	text-align: center;
}

.no-display{
	display:none;
}

.inline-block {
	display:inline-block;
}

.flex-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.margin-small {
	margin: var(--margin-xxs) 0; 
}

.margin-small-bottom {
	margin-bottom: var(--margin-s); 
}

.margin-auto {
	margin: 0 auto;
}

.rotate-icon {
	transform: rotate(90deg);
	display: inline-block;
}

.active {
    font-weight: bold;
    text-decoration: none;
}

.text__small {
    font-size: 0.8rem;
}

.link {
	font-family: var(--font-text);
	font-size: var(--fontsize-m);
	color: var(--color-text);
	text-decoration: underline;
}

/********************************
 * Pattern fixes
 ********************************/
.pattern-stop {
	background: var(--color-background);
}

.pattern-body-fix {
	background-position: 50% 100%;
}

.pattern-freeze {
	-webkit-animation: none;
	        animation: none;
}

/********************************
 * CSS ENTRY POINT
 ********************************/

/**
 * Class naming: BEM
 * Folder structure: simplified ITCSS
 */

/* Settings (variables, libraries)
 ********************************/ /* box-shadow, borders, … */

/* Elements (bare HTML elements)
 ********************************/ /* button, p, a, … */

/* Objects (layouts, grid, wrapper)
 ********************************/

/* Components (ui and design based)
 ********************************/ /* for next buttons */

/* Utilities (helpers)
 ********************************/

