/** GRID SETTINGS */
.avatar__editor {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"buttons"
		"avatar";
	margin-top: var(--margin-l);
}

.buttons__container {
	grid-area: buttons;
}

.avatar__editor__container {
	grid-area: avatar;
}

/**AVATAR SETTINGS */
.avatar__editor__container {
	position: relative;
	width: 200px;
	height: 200px;
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/assets_avatar_background.svg");
	margin: var(--margin-l) auto;

	animation-name: roesti-dance;
	animation-duration: 2s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}

.avatar__editor__element {
	width: 100%;
	height: 100%;
	position: absolute;
}

.avatar__element__eyes {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/eyes/assets_avatar_yeux.png");
}

.avatar__element__mouths {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/mouths/assets_avatar_bouches.png");
}

.avatar__element__poses {
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/avatar/poses/assets_avatar_poses.png");
}

/**BUTTONS SETTINGS */
.buttons__container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.buttons__container {
	& button {
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: var(--color-secondary);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--boxshadow-second-blurred);
		transition: var(--animation-hover);
	}
	& button:hover {
		transform: scale(1.1);
	}
	& button:active {
		transform: scale(0.8)
	}
	& img {
		padding: var(--margin-s);
	}
}

.buttons__container__small {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.buttons__container__small {
	& button {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: var(--color-secondary);
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--boxshadow-second-blurred);
		transition: var(--animation-hover);
	}
	& button:hover {
		transform: scale(1.1);
	}
	& button:active {
		transform: scale(0.8)
	}
	& img {
		padding: var(--margin-xxs);
	}
}

/**DISPLAYED AVATAR */
.avatar__container {
	position: relative;
	width: 100%;
	height: 100%;
}

.avatar__element {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (max-width: 575.98px) {
	.avatar__editor {
		margin-top: var(--margin-m);
	}
	.buttons__container button {
		width: 65px;
		height: 65px;
	}
}
