/********************************
 * Bottom bar
 * Basically a container for the button
 ********************************/
.bottombar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--margin-m) var(--margin-s);
}
