/********************************
 * Buttons
 ********************************/

.btn {
	padding: var(--margin-s);
	padding-top: 1.6rem;
	/* fix weird font placement */
	width: 100%;
	max-width: 400px;
	min-width: 250px;
	text-align: center;
	font-size: var(--fontsize-l);
	font-family: var(--font-headings);
	letter-spacing: var(--fontspacing-headings);
	border-radius: var(--borderradius-m);
	cursor: pointer;
	transition: var(--animation-hover);
	text-decoration: none;
}

.btn--primary {
	background-color: var(--color-main);
	color: var(--color-text);
	box-shadow: var(--boxshadow-main);
}

.btn--primary:hover {
	box-shadow: -8px 8px var(--color-contrast);
	transform: translate(2px, -2px);
	background-color: var(--color-main-darker);
}

.btn--secondary {
	background-color: var(--color-secondary);
	color: var(--color-white);
	box-shadow: var(--boxshadow-second);
}

.btn--secondary:hover {
	box-shadow: var(--boxshadow-second-hover);
	transform: translate(2px, -2px);
	background-color: var(--color-secondary-darker);
}

.btn--tertiary {
	background-color: var(--color-white);
	color: var(--color-text);
	box-shadow: -3px 3px var(--color-secondary);
	font-family: var(--font-text);
	letter-spacing: 0;
}

.btn--tertiary:hover {
	box-shadow: -5px 5px var(--color-secondary);
	transform: translate(2px, -2px);
}

.btn--primary:active, .btn--primary:focus, .btn--secondary:active, .btn--secondary:focus {
	transform: translate(-6px, 6px);
	box-shadow: none;
}

.btn--tertiary:active {
	transform: translateX(-3px);
	transform: translateY(3px);
	box-shadow: none;
}

@media (max-width: 575.98px) {
	.btn {
		font-size: var(--fontsize-l);
		padding: var(--margin-xs);
		padding-top: 1.4rem;
		/* fix weird font placement */
	}
	.btn--tertiary {
		padding: var(--margin-xs);
	}
}