/********************************
 * Endgame
 ********************************/
.endgame__container {
	min-height: 50vh;
	display: flex;
	flex-direction: column;
}

.endgame__sentence {
	font-family: var(--font-headings);
	font-size: var(--fontsize-xl);
	letter-spacing: var(--fontspacing-headings);
	line-height: 3rem;
	color: var(--color-main);
	text-shadow: var(--boxshadow-second-small);
	text-align: center;
	width: 75%;
	margin: var(--margin-m) auto;
}
.endgame__score__container {
	display: flex;
	margin: var(--margin-m) 0;
}

.endgame__score__link {
	display: flex;
	justify-content: center;
}

.endgame__score {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	display: inline-block;
	& li {
		font-family: var(--font-headings);
		letter-spacing: var(--fontspacing-headings);
		font-size: var(--fontsize-l);

		& strong {
			color: var(--color-secondary);
		}
	}
}

@media (max-width: 575.98px) {
	.endgame__sentence {
		font-size: var(--fontsize-ll);
		text-shadow: var(--boxshadow-second-smaller);
		line-height: 2.5rem;
		margin: 0 auto;
	}
	.endgame__score__container {
		margin: var(--margin-s) 0;
	}
}
