/********************************
 * Forms
 ********************************/
.form {
	display: flex;
	flex-direction: column;
	max-width: 346px;
	width: 100%;
}

.form--large {
	max-width: 500px;
}

.form__field {
	position: relative;
	& [class^="icon-"] {
		position: absolute;
		right: var(--margin-s);
		top: calc(50% - 8px);
		color: var(--color-disable);
	}
}

.form--center {
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

.form__row {
	margin-bottom: var(--margin-xs);
}

.form__row--left {
	text-align: left;
}

.form__row--space {
	margin-bottom: var(--margin-m);
}

.form__row--displayCondition {
	margin: var(--margin-s) 0;
	display: none;
}

input:checked~.form__row--displayCondition {
	display: block;
}
