/********************************
 * Forms
 ********************************/
.form {
	display: flex;
	flex-direction: column;
	max-width: 346px;
}
.form--center {
	text-align: center;
	justify-content: center;
	margin: 0 auto;
}

.form__row {
	margin-bottom: var(--margin-xs);
}

.form__row--left {
	text-align: left;
}

.form__row--space {
	margin-bottom: var(--margin-m);
}
