/********************************
 * Headers
 ********************************/
.header {
	display: flex;
	& .pageTitle {
		margin-left: var(--margin-m);
	}
}
.header--login {
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-bottom: var(--margin-m);
	& .logo {
		max-height: 115px;
		align-self: center;
	}
}
.header--home {
	display: flex;
	justify-content: center;
	& .logo,
	& .topnav {
		margin-right: auto;
	}
	& .logo {
		max-height: 90px;
	}
}
