/********************************
 * Headers
 ********************************/
.header {
	display: flex;
	padding: var(--margin-m) 0;
	& .pageTitle {
		margin-left: var(--margin-xs);
	}
}
.header--login {
	justify-content: center;
	align-content: center;
	flex-direction: column;
	margin-bottom: var(--margin-m);
	& .logo {
		max-height: 115px;
		align-self: center;
	}
}
.header--home {
	display: flex;
	justify-content: center;
	& .topnav {
		margin-right: auto;
	}
	& .logo {
		max-height: 90px;
		margin-right: auto;
		margin-left: -50px;
		/* it fix the nav icon pushing the logo to the right */
	}
}
.header.header--cards {
	padding: 0;
	margin-top: var(--margin-m);
}

@media (max-width: 575.98px) {
	.header {
		padding: var(--margin-xs) 0;
	}
	.header--home .logo {
		max-height: 70px;
	}
	.header--home .topnav {
		padding: 0;
	}
	.header--login {
		padding: 0;
	}
}
