/********************************
 * Icons
 ********************************/

/* Icomoon part
  ********************************/

@font-face {
	font-family: "icomoon";
	src: url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.eot?whvtr9");
	src: url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.eot?whvtr9#iefix") format("embedded-opentype"), url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.ttf?whvtr9") format("truetype"), url("https://pingouin.heig-vd.ch/websauce/fonts/icomoon.woff?whvtr9") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit-pencil:before {
	content: "\e900";
}

.icon-envelope:before {
	content: "\e901";
}

.icon-lock-closed:before {
	content: "\e902";
}

.icon-lock-open:before {
	content: "\e903";
}

.icon-user:before {
	content: "\e904";
}

.icon-checkmark:before {
	content: "\e905";
}

.icon-close:before {
	content: "\e906";
	font-weight: bold;
}

.icon-search:before {
	content: "\e986";
}

.icon-cog:before {
	content: "\e994";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-volume-high:before {
	content: "\ea26";
}

.icon-volume-mute:before {
	content: "\ea2a";
}

.icon-arrow-right:before {
	content: "\ea3c";
}

.icon-arrow-left:before {
	content: "\ea40";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-checkbox-checked:before {
	content: "\ea52";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-information:before {
	content: "\e908";
}

.icon-home:before {
	content: "\e909";
}

/* Custom part
 ********************************/

.icon-question-mark:before {
	font-family: var(--font-text);
	font-weight: bold;
	content: "?";
}

.iconBadge {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: var(--fontsize-s);
	box-shadow: var(--boxshadow-second-blurred);
}

.iconBadge--small {
	width: 30px;
	height: 30px;
}

.iconBadge--false {
	background: var(--color-contrast);
}

.iconBadge--true {
	background: var(--color-secondary);
}

.iconBadge--unanswered {
	background: var(--color-disable);
}