/********************************
 * Navigation objects
 ********************************/
.topnav {
	display: flex;
	align-items: center;
	padding: var(--margin-s) 0;
	position: absolute;
	top: var(--margin-m);
	left: var(--margin-m);
	& a,
	& button {
		padding: var(--margin-s);
		/* margin-left: var(--margin-s-negative); */
	}
	& a:hover {
		color: var(--color-text-lighter);
	}
}

.topnav--right {
	justify-content: right;
	& a,
	& button {
		 margin-right: var(--margin-s-negative);
	}
}

.topnav--center {
	justify-content: center;
}

@media (max-width: 575.98px) {
	.topnav {
		top: 5px;
		left: 5px;
	}
}
