/********************************
 * Navigation objects
 ********************************/
.topnav {
	display: flex;
	align-items: center;
	padding: var(--margin-s) 0;
	& a,
	& button {
		padding: var(--margin-s);
	}
	& a:hover {
		color: var(--color-text-lighter);
	}
}

.topnav--right {
	justify-content: right;
	& a,
	& button {
		margin-right: var(--margin-s-negative);
	}
}

.topnav--center {
	justify-content: center;
}

@media (max-width: 575.98px) {
	.topnav {
		& a,
		& button {
			padding: var(--margin-xs);
		}
	}
}
