/********************************
 * "next" Buttons -- Arrows in
 * a circle for the "next game"
 * component
 ********************************/

 .next__button{
	display: inline-block;
 	height: 50px;
	width: 50px;
 	border-radius: 50%;
	background-color: #4092E8;
	color: #fff;
	font-family:  "Luckiest Guy", sans-serif;
 }
