/********************************
 * onboarding
 ********************************/
.onboarding {
	text-align: center;
	padding: 0 var(--margin-m);
	padding-top: var(--margin-ll);
	font-size: var(--fontsize-l);

	& + .avatar__editor {
		padding-top: var(--margin-l);
	}

}

.topnav + .onboarding {
	padding-top: 0;
}

.onboarding__title {
	font-family: var(--font-headings);
	font-size: var(--fontsize-ll);
	letter-spacing: var(--fontspacing-headings);
}

.onboarding__title--big {
	font-size: var(--fontsize-xl);
	line-height: 3rem;
}

.onboarding__text {
	font-size: var(--fontsize-l);
	width: 50%;
	margin: 0 auto;
}

.onboarding__img img {
	margin: auto;
	max-height: 50vh;
}

.onboarding__step {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	& li {
		margin: var(--margin-m) 5px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: var(--color-gray-lighter);
	}
	& li.active {
		background-color: var(--color-gray);
	}
}

@media (max-width: 575.98px) {
	.onboarding {
		padding-top: var(--margin-m);
		font-size: var(--fontsize-m);
		& + .avatar__editor {
			padding-top: var(--margin-m);
		}
	}
	.onboarding__text {
		width: 100%;
	}
	.onboarding__title {
		font-size: var(--fontsize-l);
	}
	.onboarding__title--big {
		font-size: var(--fontsize-ll);
	}
}
