/********************************
 * Presenter
 ********************************/
.presenter__container {
	display: block;
	position: fixed;
	bottom: -30px;
	left: 0;
	width: 100vw;
	height: 40vh;
}

.presenter {
	position: absolute;
	height: 100%;
	bottom: 0;
	animation-name: hello-presenter;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	& img {
		min-width: 100%;
		height: 100%;
	}
}

@media (max-width: 575.98px) {
	.presenter__container {
		width: 100vw;
		height: 40vh;
	}
	.presenter {
		left: -30px;
	}
}
