/********************************
 * Presenter
 ********************************/
.presenter {
	display: block;
	position: absolute;
	bottom: -50px;
	left: 0;
	height: 50vh;
	z-index: -1;
	& img {
		width: 100%;
		height: 100%;
	}
}
