/********************************
 * Search Friends Module
 ********************************/
.searchFriends {
	margin: 0;
	padding: 0;
	max-height: 40vh;
	overflow: hidden;
	& li {
		list-style: none;
		& label {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: var(--margin-xs);
			transition: var(--animation-hover);
			border-radius: var(--borderradius-s);
		}
		& label:hover {
			cursor: pointer;
			background-color: var(--color-secondary-alpha);
			transform: scale(0.95);
		}
		& input[type="radio"] {
			display: none;
		}
		& input[type="radio"]:checked + label {
			transform: none;
			background: var(--color-text-alpha);
		}
	}
}

.searchFriends > div {
	height: 100%;
	margin-bottom: -50px; /* maximum width of scrollbar */
	padding-bottom: 50px; /* maximum width of scrollbar */
	margin-right: -50px; /* maximum width of scrollbar */
	padding-right: 50px; /* maximum width of scrollbar */
	overflow: scroll;
}

.searchFriends__container {
	position: relative;
}

.searchFriends__avatar {
	width: 50px;
	height: 50px;
	margin-right: var(--margin-m);
}

.searchFriends__title {
	font-family: var(--font-headings);
	letter-spacing: var(--fontspacing-headings);
	color: var(--color-secondary);
	font-size: var(--fontsize-l);
}

.searchFriends--noFriend {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
