/********************************
 * Commentator speech bubble for BG
 ********************************/
.speech-bubble {
	position: relative;
	background: var(--color-background);
	border-radius: var(--borderradius-xl);
	padding: 0 var(--margin-m);
	padding-bottom: var(--margin-l);
	background-image: url("https://pingouin.heig-vd.ch/websauce/img/pattern.svg");
	background-repeat: no-repeat;
	background-size: 200%;
	background-position: center center;
	min-height: 70vh;
	animation-name: pattern;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

.speech-bubble:before {
	content: "";
	position: absolute;
	bottom: -10px;
	right: 30%;
	width: 0;
	height: 0;
	border: 55px solid transparent;
	border-top-color: var(--color-background);
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
	transform: rotate(15deg);
	z-index: -1;
}
