/********************************
 * Commentator speech bubble for BG
 ********************************/
.speech-bubble {
	position: relative;
	background: var(--color-background);
	border-radius: var(--borderradius-xl);
	margin: var(--margin-s) auto;
	padding: var(--margin-m);
}

.speech-bubble:before {
	content: "";
	position: absolute;
	bottom: -10px;
	right: 30%;
	width: 0;
	height: 0;
	border: 55px solid transparent;
	border-top-color: var(--color-background);
	border-bottom: 0;
	border-left: 0;
	margin-left: -17.5px;
	margin-bottom: -35px;
	transform: rotate(15deg);
}
