.status {
    padding: var(--margin-xs);
    padding-left: 80px;
    margin: 0 auto;
    margin-bottom: var(--margin-m);
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    text-align: left;
    font-size: var(--fontsize-m);
    font-family: var(--font-text);
    letter-spacing: var(--fontspacing-headings);
    border-radius: var(--borderradius-m);
    background-color: var(--color-white);
    color: var(--color-text);
    box-shadow: var(--boxshadow-second-blurred);
    position: relative;
}

.status [class^="icon-"] {
    position: absolute;
    left: calc(10%);
    top: calc(50% - 8px);
    color: var(--color-disable);
}

