/********************************
 * Unboarding
 ********************************/
.unboarding {
	text-align: center;
	padding: 0 var(--margin-m);
	font-size: var(--fontsize-m);
	font-weight: 300;
}

.unboarding__title {
	font-family: var(--font-headings);
	font-size: var(--fontsize-l);
	letter-spacing: var(--fontspacing-headings);
}

.unboarding__title--big {
	font-size: var(--fontsize-ll);
	line-height: 3rem;
}

.unboarding__img img {
	margin: auto;
	max-height: 50vh;
}

.unboarding__step {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	& li {
		margin: var(--margin-m) 5px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: var(--color-gray-lighter);
	}
	& li.active {
		background-color: var(--color-gray);
	}
}
