/********************************
 * Unboarding
 ********************************/
.unboarding {
	text-align: center;
	padding: 0 var(--margin-m);
	padding-top: var(--margin-l);
	font-size: var(--fontsize-l);
	font-weight: 300;
}

.unboarding__title {
	font-family: var(--font-headings);
	font-size: var(--fontsize-ll);
	letter-spacing: var(--fontspacing-headings);
}

.unboarding__title--big {
	font-size: var(--fontsize-xl);
	line-height: 3rem;
}

.unboarding__step {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
	& li {
		margin: var(--margin-m) 5px;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: var(--color-gray-lighter);
	}
	& li.active {
		background-color: var(--color-gray);
	}
}
