.no-display{
	display: none;
}

.inline-block {
	display:inline-block;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.margin-small {
	margin: var(--margin-xxs) 0; 
}

.margin-auto {
	margin: 0 auto;
}

.rotate-icon {
	transform: rotate(90deg);
	display: inline-block;
}
