/********************************
 * Pattern fixes
 ********************************/
.pattern-stop {
	background: var(--color-background);
}

.pattern-body-fix {
	background-position: 50% 100%;
}

.pattern-freeze {
	animation: none;
}
