/********************************
 * Containers
 ********************************/
.container {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 var(--margin-s);
}

.container--fullheight {
	height: 100vh;
}

.container--large {
	max-width: 1200px;
}
