/********************************
 * Containers
 ********************************/
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--margin-s);
}

.container--fullheight {
	height: 100vh;
}

.game__btn__container{
	margin: 0 auto;
	height: 100vh;
	margin-top: 70vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 600px;

}


